<!-- password-strength.component.html -->
<div>
    <input
    type="password"
    (input)="onPasswordChange($event)"
    [value]="password"
    placeholder="Enter your password"
    />
  </div>
  <div class="strength-section" [ngClass]="{ easy: passwordStrength === 'easy', medium: passwordStrength === 'medium', strong: passwordStrength === 'strong' }"></div>
  <div class="strength-section" [ngClass]="{ easy: passwordStrength === 'easy', medium: passwordStrength === 'medium', strong: passwordStrength === 'strong' }"></div>
  <div class="strength-section" [ngClass]="{ easy: passwordStrength === 'easy', medium: passwordStrength === 'medium', strong: passwordStrength === 'strong' }"></div>
  