/* password-strength.component.css */
input {
    margin-bottom: 10px;
    padding: 5px;
}

.strength-section {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.easy {
    background-color: red;
}

.medium {
    background-color: yellow;
}

.strong {
    background-color: green;
}
